h2
{
	text-align: center;
	line-height: 50px;
}

app-movie
{
	display: block;
	width: 70vw;
	margin: 2em auto;
	clear: both;
}
.collection-wrap
{
	padding-top: 1px;
	padding-bottom: 1em;
}
.search-bar
{
	height: 50px;
	padding: 2em 0;
	background-color: #36454f;
	clear:both;
}



.search-bar input[type=text]
{
	border: 2px solid #DAA520;
	background-color: #dedede;
	
	height: 40px;
	width: 40vw;
	margin: 0 auto;
	padding: .2em;
	padding-left: 1em ;
	
	line-height: 2.5em;
		
	font-size: 16px;
	color: #36454f;
	transition: all ease-in-out .2s;
}

.search-bar input[type=text]:focus
{
	outline: none;
	background-color: #fff;
	border-left-width: 4px;
	border-width: 4px;
}

.search-wrap{
	display: inline-block;
	width: 	70vw;
	float:right;
}

.btn:link,
.btn:visited
{
	display: inline-block;
	padding: 1em 2em;
	background-color: #fff;
	color: 	#36454f;
	font-size: 16px;
	font-weight: 	bold;
	text-decoration: none;
	transition: 	all ease-in-out .2s;
}
.btn:hover,
.btn:active
{

}
.btn.btn-clear
{
	display: block;
	width: 125px;
	margin: 1em auto;
}
.search-bar input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #36454f;
    opacity: 1; /* Firefox */
}

.search-bar input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #36454f;
}

.search-bar input::-ms-input-placeholder { /* Microsoft Edge */
    color: #36454f;
}


app-preview
{
	display: block;
	background-color: #fff;
	height: 400px;
}