/* You can add global styles to this file, and also import other style files */
body {
	background-color: #fff;
	font-family: Arial, sans-serif;
	color: #fff;

	margin: 0;
	padding: 0;
}
app-collection
{
	
}
.header{
	margin:0;
	width: 100vw;
	height: 100px;
	padding-top: 50px;
	padding-left: 15px; 
	background-color: #DAA520;
	font-size: 20px;
	color: #fff;
}
.collection-wrap
{
	width: 100vw;
	margin: 0 auto;
	background-color: #36454f;
}

.movie-wrap
{
	display: inline-block;	
}