img {
	max-height: 250px;
	float: left;
}

h3 span {
    font-weight: 350;
    font-style: italic;
}
ul li
{
	list-style-type: none;
	padding: 0 .5em;
}
ul li span
{
	font-weight: bold;
}
.description {
	width: 40vw;
	float: left;

	padding: 1em;

}
